html{
    font-size: 62.5%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70px;
    img{
        width: 12px;
        object-fit: contain;
        position: absolute;
        left: 20px;
    }
    h1{
        padding: 17px 0;
        /* border: solid 1px tomato; */
        /* font-size: 2.4rem; */
    }
}

main{
    padding-bottom: 100px;
    .memoCard{
        .memoContent{
            display: flex;
            gap: 16px;
            img{
                width: 160px;
                height: 94px;
                /* object-fit: contain; */
            }
            .shopName{
                font-size: 1.2rem;
            }
            .menuName{
                font-size: 2rem;
            }
            time p{
                font-size: 1rem;
                color: #9A9A9A;
            }
            .repeatEat{
                font-size: 1.2rem;
                color: #DCAE73;
                border: solid 1px #DCAE73;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 112px;
                height: 24px;
                margin-top: 8px;
                box-shadow: 0 0 2px #aaa;
            }
        }
        .star{
            width: 236px;
            object-fit: contain;
            margin: 20px 0;
        }
        .comment{
            margin: 20px 0;
            p{
                font-size: 1.2rem;
                color: #9A9A9A;
                font-weight: bold;
                margin-bottom: 6px;
            }
            input{
                font-size: 1.2rem;
                width: 100%;
                height: 40px;
                border: none;
                box-shadow: 0 0 4px rgba(0,0,0,0.2);
            }
            &:last-child input{
                height: 80px;
            }
        }
    }
}

footer ul{
    z-index: 20;
    display: flex;
    list-style: none;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: -1px 0 2px #ccc;
    li{
        /* width: 95px; */
        width: 25%;
        min-height: 64px;
        /* border: solid 1px #593200; */
        font-weight: bold;
        font-size: 1.2rem;
        /* padding: 22px 0 8px 0; */
        text-align: center;
        background-color: #fff;
        &:nth-child(2) a{
            color: #fff;
            background-color: #593200;
        }
        a{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            padding-bottom: 4px;
            color: #593200;
            text-decoration: none;
            /* border: solid 1px tomato; */
            img{
                width: 30px;
                height: 30px;
                margin-bottom: 2px;
            }
        }
    }
}
