html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 1000px;
    margin-inline: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}
header{
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        padding: 10px 0;
    }
    .iconGroup{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        gap: 5px;
    }
    img{
        width: 35px;
        object-fit: contain;
    }
}
.button{
    /* display: flex;
    justify-content: space-between; */
    margin-top: 30px;
    margin-bottom: 30px;
    width: 86%;
    margin-inline: auto;
    p{
        font-size: 1.6rem;
        font-weight: bold;
        color: #593200;
        /* background-color: #DCAE73; */
        border: solid 4px #593200;
        border-radius: 10px;
        /* width: 176px; */
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 52px;
        border-radius: 50px;
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: #593200;
        display: block;
    }
}

main{
    /* border: solid 1px tomato; */
    padding: 0 0 100px 0;
}

.couponWrap{
    padding: 10px 0;
    width: 100%;
    height: 244px;
    background-color: #FFEDD5;
    border-radius: 0 0 40px 40px;
    /* box-shadow: 0 1px 2px #9A9A9A; */
    .coupon{
        p{
            /* border: solid 1px tomato; */
            display: flex;
            justify-content: center;
            img{
                width: 372px;
                object-fit: cover;
            }
        }
    }
    .couponBar{
        width: 372px;
        height: 70px;
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 0 0 2px #9A9A9A;
        margin-inline: auto;
        margin-top: -20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        .couponBarLeft{
            position: absolute;
            left: 20px;
            top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .couponBtn{
                display: flex;
                gap: 10px;
                p:first-child{
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #593200;
                    width: 140px;
                    text-align: center;
                }
                .toggle-input {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    opacity: 0%;
                    cursor: pointer;
                }

                .toggle-label {
                    width: 40px;
                    height: 20px;
                    background: #ccc;
                    position: relative;
                    display: inline-block;
                    border-radius: 46px;
                    transition: 0.4s;
                    box-sizing: border-box;
                }
                .toggle-label:after {
                    content: "";
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 100%;
                    left: -2px;
                    top: 0;
                    bottom: 0;
                    margin: auto 4px;
                    z-index: 2;
                    background: #fff;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    transition: 0.4s;
                }

                .toggle-input:checked + .toggle-label {
                    background-color: #593200;
                }
                .toggle-input:checked + .toggle-label:after {
                    left: 18px;
                }

                .toggle-switch {
                    position: relative;
                    width: 42px;
                    height: 22px;
                    margin: auto;
                    border-radius: 11px;
                    /* border: solid 1px tomato; */
                }
            }
        }
        .couponBarRight{
            background-color: #DCAE73;
            width: 140px;
            height: 100%;
            border-radius: 0 50px 50px 0;
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                font-size: 1.2rem;
                font-weight: bold;
                color: #593200;
                &:last-child{
                    span{
                        font-size: 20px;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}

@keyframes banner {
    0%{
        background-color: #8AC937;
    }
    50%{
        background-color: skyblue;
    }
    100%{
        background-color: yellow;
    }
}

.slideShow{
    padding: 20px 0;
    .slideImgWrap{
        margin-inline: auto;
        width: 86%;
        height: 80px;
        position: relative;
        /* border: solid 1px tomato; */
        .slideImg{
            &:first-child{
                width: 100%;
                height: 80px;
                background-color: #8AC937;
                color: #fff;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                font-weight: bold;
                margin-inline: auto;
                position: absolute;
                top: 0;
                left: 0;
                /* animation: banner 3s infinite; */
            }
            /* &:nth-child(2){
                width: 100%;
                height: 80px;
                background-color: skyblue;
                color: #fff;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                font-weight: bold;
                margin-inline: auto;
                position: absolute;
                top: 0;
                left: 0;
                animation: banner 7s infinite;
            }
            &:last-child{
                width: 100%;
                height: 80px;
                background-color: red;
                color: #fff;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                font-weight: bold;
                margin-inline: auto;
                position: absolute;
                top: 0;
                left: 0;
                animation: banner 8s infinite;
            } */
        }
    }
    .slideBtn{
        padding: 10px 0;
        display: flex;
        gap: 10px;
        justify-content: center;
        p{
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: #ccc;
            &:first-child{
                background-color: #8AC937;
            }            
        }
    }
}

.miniNav{
    width: 100%;
    margin-inline: auto;
    overflow-x: scroll;
    /* border: solid 1px tomato; */
    ul{
        padding-inline: 16px;
        display: flex;
        gap: 12px;
        width: max-content;
        li{
            width: 60px;
            list-style: none;
            text-align: center;
            flex-shrink: 0;
            a{
                text-decoration: none;
                color: #000;
                p{
                    font-weight: bold;
                }
                img{
                    width: 25px;
                }
            }
        }
    }
}

.miniNav::-webkit-scrollbar {
    display: none;               /* Chrome, Safariç”¨ */
}



section{
    width: 100%;
    /* border: solid 1px tomato; */
}
.erea{
    margin-bottom: 20px;
    /* padding-left: 10px; */
    /* border: solid 1px tomato; */
    h2{
        padding-left: 10px;
        margin-bottom: 6px;
    }
}
.ereaWrap{
    display: flex;
    overflow-x: auto;
    gap: 18px;
    padding-left: 10px;
    padding-right: 10px;
    &::-webkit-scrollbar{
        display: none;
    }
    /* border: solid 1px tomato; */
}
.menuCard{
    p:first-child{
        width: 90px;
        height: 60px;
        color: #000;
        /* background-color: #DCAE73;
        border-radius: 10px; */
    }
    a{
        color: #000;
        text-decoration: none;
    }
    p{
        width: 120px;
        &:last-child{
            font-size: 1.2rem;
            font-weight: bold;
            margin-top: 24px;
        }
        img{
            box-shadow: 0px 0px 1px #999;
            width: 120px;
            border-radius: 10px;
        }
    }
}

h2{
    font-size: 1.6rem;
    p{
        font-size: 1.2rem;
    }
}
footer ul{
    display: flex;
    list-style: none;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: -1px 0 2px #ccc;
    li{
        /* width: 95px; */
        width: 25%;
        min-height: 64px;
        /* border: solid 1px #593200; */
        font-weight: bold;
        font-size: 1.2rem;
        /* padding: 22px 0 8px 0; */
        text-align: center;
        background-color: #fff;
        &:first-child a{
            color: #593200;
        }
        /* &:first-child a{
            color: #fff;
            background-color: #593200;
        } */
        a{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            padding-bottom: 4px;
            color: #9A9A9A;
            text-decoration: none;
            /* &:first-child{
                color: #593200;
            } */
            /* border: solid 1px tomato; */
            img{
                width: 30px;
                height: 30px;
                margin-bottom: 2px;
            }
        }
    }
}

