body{
    width: 100%;
    height: 1000px;
    margin-inline: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}
header{
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        padding: 10px 0;
    }
    .iconGroup{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        gap: 5px;
    }
    img{
        width: 35px;
        object-fit: contain;
    }
}
.button{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 94%;
    margin-inline: auto;
    p{
        font-size: 1.6rem;
        font-weight: bold;
        color: #593200;
        border: solid 4px #593200;
        border-radius: 10px;
        /* width: 176px; */
        width: 47%;
        height: 60px;
        text-align: center;
        line-height: 52px;
    }
    a{
        text-decoration: none;
        color: #593200;
        display: block;
    }
}

main{
    /* border: solid 1px tomato; */
    padding: 0 0;
}
section{
    width: 100%;
    /* border: solid 1px tomato; */
}
.erea{
    margin-bottom: 20px;
    margin-left: 10px;
    /* border: solid 1px tomato; */
    h2{
        margin-bottom: 6px;
    }
}
.ereaWrap{
    display: flex;
    overflow-x: auto;
    gap: 18px;
    /* border: solid 1px tomato; */
}
.menuCard{
    p:first-child{
        width: 90px;
        height: 60px;
        background-color: #DCAE73;
        color: #000;
        box-shadow: 0px 0px 1px #999;
        border-radius: 10px;
    }
    a{
        color: #000;
        text-decoration: none;
    }
    p{
        width: 90px;
        &:last-child{
            font-size: 1.2rem;
            font-weight: bold;
            margin-top: 6px;
        }
    }
}

h2{
    font-size: 1.6rem;
    p{
        font-size: 1.2rem;
    }
}
footer ul{
    display: flex;
    list-style: none;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: -1px 0 2px #ccc;
    li{
        /* width: 95px; */
        width: 25%;
        min-height: 64px;
        /* border: solid 1px #593200; */
        font-weight: bold;
        font-size: 1.2rem;
        /* padding: 22px 0 8px 0; */
        text-align: center;
        background-color: #fff;
        &:first-child a{
            color: #593200;
        }
        /* &:first-child a{
            color: #fff;
            background-color: #593200;
        } */
        a{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            padding-bottom: 4px;
            color: #9A9A9A;
            text-decoration: none;
            /* &:first-child{
                color: #593200;
            } */
            /* border: solid 1px tomato; */
            img{
                width: 30px;
                height: 30px;
                margin-bottom: 2px;
            }
        }
    }
}

