html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 1000px;
    margin-inline: auto;
    &::-webkit-scrollbar{
        display: none;
    }
}
header{
    background-color: #fff;
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 12px;
        object-fit: contain;
        position: absolute;
        left: 20px;
    }
    h1{
        padding: 10px 0;
    }
}

main{
    margin-top: 30px;
    .buttonWrap{
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-around;
        a{
            color: #000;
            border-radius: 10px;
            /* border: solid 1px tomato; */
        }
    }
    .buttonCard{
        width: 100px;
        height: 120px;
        box-shadow: 0 0 2px #ccc;
        border-radius: 10px;
        position: relative;
        &:hover{
            box-shadow: 0 0 5px #ccc;
        }
        img{
            position: absolute;
            top: 16px;
            left: 0;
            right: 0;
            margin-inline: auto;
            width: 60px;
            object-fit: contain;
        }
        p{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 14px;
            left: 0;
            right: 0;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}

footer ul{
    display: flex;
    list-style: none;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: -1px 0 2px #ccc;
    li{
        /* width: 95px; */
        width: 25%;
        min-height: 64px;
        /* border: solid 1px #593200; */
        font-weight: bold;
        font-size: 1.2rem;
        /* padding: 22px 0 8px 0; */
        text-align: center;
        background-color: #fff;
        &:last-child a{
            color: #593200;
        }
        a{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            padding-bottom: 4px;
            color: #9A9A9A;
            text-decoration: none;
            /* border: solid 1px tomato; */
            img{
                width: 30px;
                height: 30px;
                margin-bottom: 2px;
            }
        }
    }
}

